nav a {
    transition: 0.3s;
    position: relative;
    margin: 0 15px;
}

nav a:hover {
    color: #f5d7a1;
    font-size: 24px;
    transition:0.5s;
}

nav a::after {
    content: "|";
    position: relative;
    left: 15px;
    color: white;
}

nav a:last-child::after {
    content: "";
}

input:focus,
textarea:focus {
    background-color: #f5efe6;
    border-color: #5b1f2a;
    transition: 0.5s;
}

h2::after {
    content: "";
    display: block;
    width: 50vw;
    height: 3px;
    background-color: #5b1f2a;
    margin: 10px auto;
}

p::first-letter {
    font-size: 32px;
}

@keyframes aparecer {
    from {
        margin-top: 80px;
        opacity: 0;
    }

    to {
        margin-top: 40px;
        opacity: 1;
    }
}

section {
    animation-name: aparecer;
    animation-duration: 1s;
}

button {
    transition: 0.5s;
}

button:hover {
    background-color: #7a2d3b;
    transform: scale(1.1);
}

img {
    transition: 0.5s;
}

img:hover {
    transform: scale(1.05);
    margin-top: 10px;
}

input::placeholder,
textarea::placeholder {
    color: #999;
}

input:focus,
textarea:focus {
    border: 2px solid #5b1f2a;
    box-shadow: 0 0 0 2px #5b1f2a;
    outline: none;
}