body {
    background-color: #f5efe6;
    color: #2b1b17;
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
}

header {
    background-color: #5b1f2a;
    color: white;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 52px;
    padding: 20px 0;
}

h2 {
    font-size: 34px;
    margin-bottom: 20px;
    color: #5b1f2a;
}

nav {
    background-color: #7a2d3b;
    padding: 15px 0;
    margin: 0;
}

nav a {
    color: white;
    margin: 0 18px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

nav a:hover {
    color: #f5d7a1;
}

main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
}

section {
    margin: 40px 0;
    padding: 30px 20px;
    background-color: #fffaf4;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

p {
    margin: 15px 0;
    line-height: 1.6;
    font-size: 22px;
}

img {
    width: 400px;
    max-width: 500px;
    height: auto;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

iframe {
    width: 560px;
    height: 315px;
    margin: 20px 0;
}

table {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    font-size: 20px;
}

th {
    background-color: #5b1f2a;
    color: #ddd;
}


form {
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 140px;
    height: 40px;
    background-color: #5b1f2a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #7a2d3b;
}

footer {
    background-color: #5b1f2a;
    color: white;
    margin-top: 30px;
}

ul {
    text-align: left;
    margin: 20px auto;
    width: 400px;
}

.linha div {
    display: inline-block;
    margin: 20px;
}